
/* Your CSS Code here. */


div.main{
	width:200px;
	color:rgb(255, 255, 255);
	background-color:rgb(128, 0, 128);
	border-left-width:5px;
	border-left-color:rgb(0, 128, 0);
	padding:10px;
	font-size:20px;
	text-decoration:underline;
}
#heading{
	font-size:20px;
	color:rgb(255, 255, 255);
}

